* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #820AD1;
  --secondary-color: #59069C;
  --background: #F0F0F0;
  --white: #FFF;
  --black: #111;
  --gray: #4B3F72;
}

body {
  box-sizing: border-box;
  min-width: 19.688rem;
  max-width: 120rem;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

section {
  min-height: 56.25rem;
}

ul li {
  list-style: none;
  padding: 0.7rem;
}

button {
  background-image: linear-gradient(
    92.88deg,
    #455eb5 9.16%,
    #5643cc 43.89%,
    #673fd7 64.72%
  );
  
  border-radius: 0.5rem;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1rem;
  font-weight: 500;
  height: 2.6rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 0.188rem 0.5rem;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 0.063rem 1.875;
  transition-duration: 0.1s;
}

.container-nav-bar button {
  color: var(--white);
  background: var(--primary-color);
  padding: 0.6rem 1.25rem;
  border-radius: 2rem;
  border: none;
  margin: 0.2rem 2rem 0 0;
  cursor: pointer;
  font-size: 1rem;
}

.content-nav-bar {
  width: 100%;
  background: var(--background);
  position: fixed;
  z-index: 1;
}

.content-nav-bar div {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.figure-image {
  display: flex;
}

.figure-image img {
  width: 2.813rem;
  margin: 0.3rem 0 0.5rem 2rem;
  box-sizing: border-box;
}

.section-topo {
  background: url("./images/cartao2.png") no-repeat fixed center;
  height: 100vh;
  background-size: cover;
  box-sizing: border-box;
  position: relative;
}

.card-title {
  position: absolute;
  top: 50%;
  padding-left: 3.4rem;
  transform: translateY(-50%);
}

.card-limit-width {
  width: 25rem;
}

.card-title h1 {
  color: var(--white);
  font-size: 3rem;
}

.content-card-itens {
  display: flex;
  padding: 4rem 7rem 5rem 7rem;
  max-width: 100%;
  justify-content: space-between;
  background: var(--background);
}

.content-card-itens div {
  padding: 3rem;
  max-width: 100%;
}

.card-black-image-phone {
  background: var(--black);
  display: grid;
  row-gap: 4rem;
  margin: 0 auto;
  text-align: center;
}

.card-black-image-phone img {
  height: auto;
  box-sizing: border-box;
  max-width: 60%;
}

.card-black-image-phone h2,
p {
  color: var(--white);
  text-align: left;
}

.card-black-image-phone h2,
.card-white-credit h2 {
  margin: 1rem;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: -0.03rem;
}

.card-black-image-phone p,
.card-white-credit p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 1rem;
  font-weight: 600;
}

.card-white-credit {
  background: var(--white);
  display: grid;
  row-gap: 4rem;
  margin: 0 auto;
  text-align: left;
}

.card-white-credit img {
  height: auto;
  box-sizing: border-box;
  max-width: 80%;
}

.card-white-credit p {
  color: var(--black);
}

.container-image-background {
  background: url("./images/cartaonubank.png") no-repeat center fixed;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
  height: 100vh;
}

.container-image-background p {
  font-size: 1.3rem;
  line-height: 2rem;
  margin: 0 0 1.3rem 0;
}

.container-image-background h4 {
  color: var(--white);
  font-weight: 700;
  font-size: 3rem;
  margin: 0 0 1.3rem 0;
}

.container-image-background button {
  color: var(--white);
  background: var(--primary-color);
  padding: 0.7rem;
  border-radius: 1rem;
}

.card-background {
  background: var(--gray);
  border-radius: 1rem;
  padding: 7rem 3rem 7rem 3rem;
  margin: 0 0 0 3rem;
  filter: drop-shadow(0.5rem 0.5rem 0.5rem var(--black));
}

.no-taxes,
.no-bureaucracy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-taxes img,
.no-bureaucracy img {
  width: 50rem;
  margin: 0 3rem 0 0;
}

.titule-info {
  width: 31.25rem;
  margin: 0 0 0 5rem;
}

.titule-info h2 {
  margin: -6rem 0 1rem;
  letter-spacing: 0.04rem;
  font-size: 3.125rem;
}

.titule-info h4 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
}

.no-bureaucracy {
  background: var(--background);
  padding: 0 0 1rem 0;
}

.container-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-info-media {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.second-container-info-media {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 0 4rem 0;
  text-align: left;
}

.second-container-info-media h4 {
  margin: 0 0 1.5rem 0;
  font-size: 1.4rem;
}

.second-container-info-media a {
  color: var(--primary-color);
  font-size: 1.3rem;
  padding: 0 0 0.8rem 0;
}

.image-valor-investe img {
  width: 10.625rem;
}

.image-exame-invest img {
  width: 6.25rem;
}

.image-cnn img {
  width: 3.125rem;
}

.container-flex {
  display: flex;
}

.second-card-title h2{
  margin-bottom: 0;
  font-size: 2.5rem;
}